.card {
  padding: 5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.field input{
  margin: 0.5rem 0;
}

.fournisseur{
  margin-top: 2rem;
}

h3{
  margin-bottom: 1rem;
}

.fournisseur div {
  display: flex;
  margin-bottom: 1.5rem;
}

.btn-position{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid gray;
}

.ml{
  margin-right: 0.5rem;
}

.btn-size {
  font-size: 0.1rem;
}


