<p-toast></p-toast>

<div class="card">
  <p-table
    #dt1
    [value]="clients"
    [rows]="5"
    [globalFilterFields]="['name', 'email', 'phone']"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
  >
    <ng-template pTemplate="caption">
      <div>
        <div class="flex">
          <h1>Manage clients</h1>
          <button
            pButton
            pRipple
            label="Nouveau Client"
            icon="pi pi-plus"
            class="p-button-primary"
            (click)="addClient()"
          ></button>
        </div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal($any($event.target)?.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="min-width: 10rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="min-width: 10rem">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="phone" style="min-width: 10rem">
          Phone <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="provider" style="min-width: 10rem">
          Providers <p-sortIcon field="provider"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <td>
          {{
            client.providers.length > 0
              ? client.providers[0].name
              : "aucun fourniseur"
          }}
        </td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-success ml"
            (click)="editClient(client)"
          ></button>

          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteClient(client)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="clientDialog"
  [style]="{ width: '450px' }"
  [header]="clientDialogHeaderTitle"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Nom</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="client.name"
        required
      />
      <small class="p-error" *ngIf="submitted && !client.name"
        >Le nom est obligatoir.</small
      >
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input
        type="email"
        pInputText
        id="email"
        [(ngModel)]="client.email"
        required
      />
      <small class="p-error" *ngIf="submitted && !client.email"
        >L'addresse mail est obligatoir.</small
      >
    </div>

    <div class="field">
      <label for="phone">Numero</label>
      <input
        type="text"
        pInputText
        id="phone"
        [(ngModel)]="client.phone"
        required
      />
      <small class="p-error" *ngIf="submitted && !client.phone"
        >Le numero est obligatoir.</small
      >
    </div>

    <div class="fournisseur">
      <h3>List de fourniseur</h3>
      <div>
        <input
          type="text"
          placeholder="Ajouter un nouveau fourniseeur"
          pInputText
          [(ngModel)]="fourniseeur.name"
          required
        />
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="p-button-outlined"
          (click)="runAddProvider(fourniseeur)"
        ></button>
      </div>
      <small class="p-error" *ngIf="submittedProvider"
        >Quelle est le nom du fournisseur ?</small
      >

      <div class="table">
        <p-table
          #dt
          [value]="providers"
          [rows]="3"
          [paginator]="true"
          [tableStyle]="{ 'min-width': '24rem' }"
          dataKey="id"
        >
          <ng-template pTemplate="body" let-provider>
            <tr class="btn-position">
              <td>{{ provider.name }}</td>
              <td>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-success p-button-outlined ml btn-size"
                  (click)="editClient(provider)"
                ></button>

                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-danger p-button-outlined btn-size"
                  (click)="deleteProvider(provider)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Fermer"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      [label]="clientDialogSubmitLabel"
      icon="pi pi-check"
      class="p-button"
      (click)="submitClientData()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
